/*global*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 18px;
	font-size: 12px;
}
ol, ul {
	list-style: disc;
}
.container {
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}
.container:after {
	clear: both;
	display: table;
	content: " ";
}
a {
	text-decoration: none;
}
a:hover {
	color: #fff;
	background: #37a;
}
h1 {
	font-size: 25px;
	line-height: 25px;
	font-weight: bold;
	color: #494949;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	text-transform: uppercase;
}
h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 20px 0;
}
h3 {
	font-size: 16px;
	line-height: 16px;
	margin: 16px 0;
}
h4 {
	font-size: 14px;
	line-height: 14px;
	margin: 14px 0;
}
pre {	
	margin: 0 0 10.5px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
}
code {
	margin: 0;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 0;
}
blockquote {
	border-left: 1px solid #ddd;
	padding: 10.5px 21px;
}

/*nav*/
#old-browser {
	text-align: center;
}
nav {
	padding: 0;
	background-color: #545652;
	border-bottom: 1px solid #000;
	min-width: 1170px;
	line-height: 28px;
	margin-bottom: 50px;
}
nav ul li {
	display: inline;
}
	nav ul li a {
		padding: 0 12px;
		color: #d5d5d5;
	}
	nav ul li a:hover {
		color: #fff;
		background-color: #545652;
	}

/*body*/
#body ul {
	line-height: 25px;
}
#body .post {
	float: left;
	width: 75%;
	padding: 0 15px;
}
 #body .post .data {
 	color: #aaa;;
 }
#body .post-list {
	float: right;
	width: 25%;
	padding: 0 15px;
}
	#body .post-list .fixed {
		position: fixed;
		top: 10px;
	}
	#body .post-list .post-list-container {
		background: #f9f9f9;
	}
		#body .post-list .post-list-container ul {
			font-size: 14px;
			list-style: disc inside;
			color: #cedcd9;
			padding: 10px;
		}
/*footer*/
footer {
	text-align: center;
	color: #999;
	padding-top: 6px;
	margin: 40px 0 20px 0;
	border-top: 1px dashed #ddd;
	min-width: 1170px;
}
