html {
  font-family:
    'XinGothic',
    'Hiragino Sans GB',
    'WenQuanYi Micro Hei',
    'Droid Sans',
    'Hei SC',
    'Microsoft Yahei',
    sans-serif;
  line-height: 1.5;
  min-height: 100%;
}

a {
  color:#1abc9c;
  text-decoration: none;
  &:hover {
    transition: all 0.2s;
    letter-spacing: 0.02rem;
  }
}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  background: rgba(0,0,0,0.04);
  border-radius: 3px;
}

img {
  max-width: 100%
}

blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  margin: 0;
}

body {
  margin: 0;
  > header { 
    padding: 1.5rem 1.5rem 0 1.5rem;
    .avatar {
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }
    .name {
      font-size: 1rem;
      vertical-align: super;
      font-weight: bolder;
      color: #072;
      &:hover {
        letter-spacing: 0.2rem;
      }
    }
  }
  >.container {
    padding: 1.5rem;
    box-sizing: border-box;
    .seq {
      overflow-x: scroll;
    }
    .post-list {
      display: inline-block;
      vertical-align: top;
      min-width: 300px;
    }
    &.has-toc {
      margin-right: 20vw;
    }
  }
}

.toc {
  font-size: 12px;
  position: fixed;
  width: 20vw;
  padding: 0.5rem;
  margin: 1rem;
  box-sizing: border-box;
  top: 50px;
  right: 0;
  color: #bababa;
  list-style: none;
  border: 1px solid #efefef;
  .title {
    font-size: 14px;
    color: #999;
    border-left: 3px solid #999;
    padding-left: 7px;
    line-height: 2;
  }
  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }
  .toc-h1 {
    padding-left: 10px;
  }
  .toc-h2 {
    padding-left: 25px;
  }
  .toc-h3 {
    padding-left: 40px;
  }
  .toc-h4 {
    padding-left: 55px;
  }
  .on {
    color:#1abc9c;
  }
}

.loading {
  background-image: url('https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif');
  background-repeat: no-repeat;
  background-position: 50%;
}

// @media (max-width: 768px) {
//   body {
//     > aside {
//       position: static;
//       transform: none;
//       height: auto;
//       width: auto;
//     }
//     >.container {
//       margin-left: 0; 
//       border-left: none;
//       border-bottom: 1px solid #d1d1d1;
//     }
//   }
// }

