<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Site perso of PENG Bo">
  <meta name="author" content="PENG Bo">
  <link rel="shortcut icon" href="/images/favicon.png">
  <title>琥珀草</title>      
  <link rel="stylesheet" type="text/css" href="//cdn.staticfile.org/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.staticfile.org/highlight.js/7.5/styles/github.min.css">
  <link rel="stylesheet/less" type="text/css" href="/css/style.less">
  <script type="text/javascript" src="http://cdn.staticfile.org/less.js/1.7.3/less.min.js"></script>
</head>