<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site perso of PENG Bo">
        <meta name="author" content="PENG Bo">
        <link rel="shortcut icon" href="/images/favicon.png">

        <title>琥珀草</title>

        <link rel="stylesheet" type="text/css" href="/css/github-7.5.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <!-- <link rel="stylesheet/less" type="text/css" href="/less/override.less" /> -->
        <!--<script src="/js/less.config.js"></script> -->
        <!--<script src="/js/less-1.5.1.min.js"></script> -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="http://getbootstrap.com/assets/js/html5shiv.js"></script>
          <script src="http://getbootstrap.com/assets/js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">琥珀草</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="http://pbdm.sinaapp.com/">Blog</a></li>
                <li><a href="https://github.com/pbdm/Wiki">Wiki</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>
        <footer>
            <div class="container">
                 <p class="text-muted credit"><a href="mailto:pbdm915@gmail.com">PENG Bo</a> © 2012 - 2014 | Powered by <a href="http://getbootstrap.com/">Bootstrap</a> &amp; <a href="http://bootswatch.com/yeti/">Yeti</a></p>
            </div>
        </footer>
        <script type="text/javascript" src="/bootstrap/js/collapse.js"></script>
        <script type="text/javascript" src="/js/highlight-7.5.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </body>
</html>